$main-color: rgb(255, 255, 255);

.summary {
    width: 22em;
    height: 11em;
    margin: 0.5em 0em;
    border-radius: 1em;
    box-shadow: 1px 1px 10px 1px gray;
}

.side {
    height: 100%;
    width: 40%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1em 0em 0em 1em;
}
.side-header {
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $main-color;
}
.side-footer {
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.content {
    height: 100%;
    width: 60%;
    float: right;
    border-radius: 0em 1em 1em 0em;
}
.content-header {
    display: flex;
    justify-content: center;
    color: $main-color;
    margin-block-end: 0em;
    margin-block-start: 0.5em;
    height: 15%;
}
.content-main {
    color: $main-color;
    padding: .5em;
    text-align: justify;
    height: 53%;
}
.content-footer {
    height: 10%;
}

.content-stats {
    color: $main-color;
    padding: .5em;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-name: fade-bottom-up;
 }
 @keyframes fade-bottom-up {
    0% {
       opacity: 0;
       transform: translateY(5em);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }