<!-- <a [href]="pokemon.url"> -->
<!-- </a> --> 
  <div class="summary">
      <div class="side" [style.background-color]="colorSide">
        <div class="side-header">
          {{ pokemonIdFormated }}
        </div>

        <app-sprite-wheel
          *ngIf="pokemonItem"
          [spriteUrl]="pokemonSpriteUrl">
        </app-sprite-wheel>

        <div class="side-footer">
          <app-chip-type-list [types]="pokemonTypes">
          </app-chip-type-list>
        </div>
      </div>

      <div class="content" [style.background-color]="colorContent">
        <h2 class="content-header">
          {{ pokemon.name | titlecase }}
        </h2>
        <div class="content-main">
          {{ pokemonDescription }}
        </div>
        <div class="content-footer">
          
        </div>
      </div>
  </div>