.summary {
    width: 25em;
    height: 15em;
    margin: .5em;
    border-radius: 1em;
    box-shadow: 1px 1px 10px 1px gray;
}
.flex-container-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flex-container-image {
    display: flex;
    justify-content: space-around;
}
.text-footer {
    display: flex;
    justify-content: center;
}

.side {
    height: 100%;
    width: 35%;
    float: left;
    display: flex;
    justify-content: space-around;
}
.content {
    height: 100%;
    width: 65%;
    float: right;
    border-radius: 0em 1em 1em 0em;
}